@font-face {
    font-family: "maxwellbold";
    src: url('../fonts/MAXWELL_BOLD.ttf') format('truetype');
}

@font-face {
    font-family: "indigoRegular";
    src: url('../fonts/IndigoRegular.otf') format('opentype');
}

    

body {
   font-family: maxwellbold;
   --couleur: #3a41e4;
}   

header {
    height: 100vh;
}

.bg-img {

    background: url(../images/bg.jpg) no-repeat;
    /*background-position: right; */
    position: absolute;
    top: 0;
    width : 100%;
    height: 100%;
    z-index: -1;
    /*filter: blur(30px)*/
    /*transition: filter 1s ease;*/
}

.title {
    position: relative;
    top: 30vh;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.title h1 {
    font-size: 4.5em;
    width: 100%;
    
    margin: 0;
    /*transition: padding 1s ease;*/
}


main {
    height: 100vh;
}