@font-face {
    font-family: "maxwell-regular";
    src: url('../fonts/MAXWELL_REGULAR.ttf') format('truetype');
}

@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Noir-medium";
    src: url('../fonts/Noir_medium.otf') format('truetype');
}

:root {
    --couleurSecondaire: #3a41e4;
    --couleurPrincipale : #39403F;
    --couleurHeaderFooter : rgb(214,214,214);
    --font-grand-titre : "Noir-medium";
    --font-titre : "maxwell-regular";
    --font-body: "Quicksand";
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
}
header {
    background: url(../images/bg.jpg) no-repeat;
    background-position: top;
    filter: blur(30px);
    height: 100vh;
} 
h2 {
    font-size: 2em;
    margin-bottom: 1em;
    font-family: var(--font-grand-titre);
}
h3 {
    font-family: var(--font-titre);
    font-weight: bold;
    color: var(--couleurSecondaire);
    margin-bottom: 1em;
}
main {
    height: 100vh;
}
section {
    padding: 4em;
}
#competences {
    padding: 4em 0;
}
#projets {
    padding: 4em 2em;
}
footer {
    padding-top: 2em;
}



em {
    color: var(--couleurSecondaire);
}
em, #parcours h4 {
     font-weight: bold;
}
hr:not(.hr-color) {
    border-color: var(--couleurPrincipale);
    margin: 0;
}


/*-------------------Effect a hover---------------------------*/
a, a:hover {
    text-decoration: none;
    color: unset;
}
#parcours a, #parcours a:hover, footer a, footer a:hover{
    display: inline-block;
    color: var(--couleurSecondaire);
}
#parcours a:after, footer a:after{
    display: block;
    content: '';
    width: 0;
    height: 1px;
    background: var(--couleurSecondaire);
    transition: 300ms;
}
#parcours a:hover:after, footer a:hover:after{
   width: 100%;
}
/*-------------------------------------------------------------*/



/*-----------------------NAVIGATION----------------------------*/
.navbar-nav, .navbar {
    display:flex;
    flex-flow: row nowrap;
}
.navbar {
    z-index: 998;
    font-weight: bold;
    border-bottom: 1px solid var(--couleurSecondaire);
    box-shadow: 1px 1px 10px var(--couleurSecondaire);
    padding: 0 1em;
    background-color: white;
    position: fixed;
    top: 0;
    height: 3em;
    width: 100%;
    justify-content: space-between;
}
.nav-item {
    transition: 0.5s ease;
    border-radius: 5px;
    margin: 0.5em;
    padding: 0 0.5em;
}
.nav-item:hover {
    background-color: var(--couleurSecondaire);
}
.nav-item a {
    transition: 0.5s ease;
    color: var(--couleurPrincipale);
}
.nav-item a:hover {   
    color: white;
}
#cv {
    color: var(--couleurSecondaire);
}
#hamburger-button {
    display: none;
}
/*-------------------------------------------------------------*/

/*-----------------------HEADER----------------------------------*/
#arrow {
    position: relative;
    opacity: 0;
}
#arrow a span {
    position: absolute;
    width: 40px;
    top: 32vh;  
    left: calc(50% - 20px);
    height: 40px;
    border: 3px solid var(--couleurPrincipale);
    border-radius: 100%;
    transition: 300ms ease;
}
#arrow a span:hover {
    padding-top: 0.5em;
}
#arrow a span::after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    margin: 8px 0 0 10px;
    border-left: 3px solid var(--couleurPrincipale);
    border-bottom: 3px solid var(--couleurPrincipale);
    transform: rotate(-45deg);
}
#title {
    position: relative;
    top: 30vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#title h1 {
   width: 100%;    
    margin: 0;
    opacity: 0;
    font-family: var(--font-grand-titre);
    color: var(--couleurPrincipale);
    opacity: 0.5;
}
#slide-top {
    font-size: 4em;
}
#slide-bottom {
    font-size: 1.5em;
}
/*-------------------------------------------------------------*/



/*-----------------------PROFIL--------------------------------*/
#profil {
    display: flex;
    background-color: var(--couleurHeaderFooter);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#profil-img {
    margin: 0;
    padding: 0;
    width: 280px;
    height: 280px;
    border-radius: 100%;
    transform: rotate(-12deg);
    overflow: hidden;
    border: 3px white solid;
    box-shadow: 3px 4px 5px var(--couleurSecondaire);
    transition: box-shadow 300ms ease;
}
#profil-img img {
    transform: scale(1.05);
    padding-right: 0.7em;
}
#profil-img:hover {
    box-shadow: 2px 2px 15px var(--couleurSecondaire);
}
#profil-text p {
    margin: 0;
    font-size: 1.25em;
    text-align: justify;
}
/*-------------------------------------------------------------*/



/*--------------------CREATION---------------------------------*/
#projets {
    text-align: center;
}
#projets-ligne {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    transition: 0.5s ease;
}
#projets h2 {
    margin-bottom: 2em;
}
#projets-ligne a, #projets-ligne a:hover {
    color: var(--couleurPrincipale);
    padding: 0 2em;
}
#projets-ligne ul {
    padding-left: 1em;
    margin: 0;
}
#projets-ligne img {
    width: 24em;
    margin-bottom: 2em;
}
#projets-ligne ul li{
    text-align: left;
    padding: 3px 0;
}
#projets-un, #projets-deux, #projets-trois, #projets-quatre, #projets-cinq {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 25%;
    margin: 1em;
    padding: 2em 0;
    transition: 0.5s ease;
    border: 1px var(--couleurSecondaire) solid;
    background-color: white;
}
#projets-deux img{
    margin-bottom: 0;
    margin-top: 2em;
}
#projets-un:hover, #projets-deux:hover, #projets-trois:hover, #projets-quatre:hover, #projets-cinq:hover {
    box-shadow: 5px 5px 5px var(--couleurSecondaire);
    transform: scale(1.2);
    z-index: 1;
}
/*-------------------------------------------------------------*/



/*------------------------PARCOURS-----------------------------*/
#parcours {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: stretch;
    text-align: center;
}
#parcours strong, #parcours h4 {
    color: var(--couleurSecondaire);
}

#parcours h2 {
    overflow: hidden;
    white-space: nowrap;
}
#formation, #exp-pro {
    text-align: left;
    flex-basis: 100%;
    margin-left: 3em;
    height: min-content;
    
}
#formation hr {
    background-color: var(--couleurPrincipale);
    border: 0 none;
    width: 10em;
    height: 1px;
    margin-bottom: 2em;
}
#formation div, #exp-pro div {
    margin: 2em 0;
}
#dut::before {
    content: "2019 - En cours";
}
#bac::before {
    content: "2018 - 2019";
}
#mission::before {
    content: "2019";
}
#stage::before {
    content: "2016";
}
/*-------------------------------------------------------------*/



/*--------------------------competencesS------------------------*/
.circle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    background-color: var(--couleurSecondaire);
    color: white;
}
.hr-color{
    background-color: var(--couleurSecondaire);
    border: 0 none;
    width: 3em;
    height: 4px;
}
#competences {
    text-align: center;
}
#competences-ligne {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}
#competences-un, #competences-deux, #competences-trois {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-basis: 25%;
    margin: 2em;
    
}
#competences-un p, #competences-deux p, #competences-trois p {
    margin-top: 1em;
}
#competences-un p:not(.description), 
#competences-deux p:not(.description), 
#competences-trois p:not(.description) {
    text-align: justify;
    min-width: 15em;
}
/*-------------------------------------------------------------*/



/*-------------------------FOOTER------------------------------*/
footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--couleurHeaderFooter);
}
footer div:not(#mail) {
   width: 11.5em;
}
#mail {
    width: 10.25em;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1em;
}
footer img {
    margin-right: 10px;
}
footer hr {
   width: 100%;
}
#copyright {
    margin: 0.5em 0;
}
/*-------------------------------------------------------------*/

/*tous plus grand qu'une tablette*/
@media screen and (min-width: 1081px) {
  
    #formation, #exp-pro {
       flex-basis: 33%;
       margin-left: 1.5em;
    }

    #formation hr {
        display: none;
    }
  
    #title h1 {
        overflow: hidden;
        white-space: nowrap;
    }
    
}

/*mobile paysage*/
@media screen and (min-width: 561px) and (max-width: 767px){

    #arrow a span {
        top: 22vh;
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        border: 2px solid var(--couleurPrincipale);
    }
    #arrow a span::after {
        width: 10.5px;
        height: 10.5px;
        margin: 6px 0 0 7px;
        border-bottom: 2px solid var(--couleurPrincipale);
        border-left: 2px solid var(--couleurPrincipale);
    }
    #title{
        top: 20vh;
    }

    #slide-top {
        font-size: 2.5em;
    }
    #slide-bottom {
        font-size: 1.25em;
    }

    header {
        background-position-y: -12.5em;
    }

    .navbar {
        width: 40%;
        justify-content: space-around;
        padding-top: 5%;
    }

    .navbar-nav {
        height: 70%;
        flex-flow: row wrap;
        align-content: center;
    }  
    #profil-img {
        float: left;
        width: 175px;
        height: 175px;
        margin-right: 0;     
    }
    #profil-img img {
        padding-right: 7em;
        transform: scale(1.1);
    }
}

/*réduction du menu + affichage email en entier*/
/*tablette*/
@media screen and (max-width: 811px){   

    #slide-top {
        font-size: 3em;
    }
    footer div:not(#mail){
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        margin-bottom: 1em;
        width: 100%;

    }
    footer div p, #mail {
        margin: 0.5em 1em;
    }
    #mail {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        align-items: center;
        white-space: normal;
    }
    #mail img {
        min-width: 32px;
        min-height: 32px;
        flex-shrink: 0;
    }

    .navbar {
        position: fixed;
        top:0;
        height: 100%;
        width: 40%;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        padding-top: 12.5%;
    }
    .navbar-nav {
        display: flex;
        flex-flow: column nowrap;
        padding-left: 1em;
        width: 100%;
    }
    .nav-item {
        width: min-content;
    }
    /*cv link*/
    .navbar > a {
        padding-left: 1.5em;
        margin: 0.5em;
    }
    .nav-item {
        padding-left: 0.5em;
        padding-right: 0.5em;
        overflow: hidden;
        white-space: nowrap;
    }    

    #hamburger-button {
        position: fixed;
        display: block;
        /*top: 5px;
        left: 10px;*/
        padding: 0.25em 0.66em 0.33em 0.5em;
        border-right: 0px solid var(--couleurPrincipale);
        border-bottom: 0px solid var(--couleurPrincipale);
        border-bottom-right-radius: 50%;
        opacity: 0.5;
        z-index: 999;
        opacity: 0;
        cursor: pointer;
        
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--couleurPrincipale);
        border-radius: 20px;
        margin: 6px 0;
        transition: 300ms;
    }

    .change .bar1 { transform: rotate(-45deg) translate(-9px, 6px); }
    .change .bar2 { opacity: 0; }
    .change .bar3 { transform: rotate(45deg) translate(-8px, -8px); }
}


/*--------------------compétences wrap------------------------*/
@media screen and (max-width: 910px){
    #competences-un, #competences-deux, #competences-trois {
        flex-basis: 40%;
        margin: 1em;
    }
}
@media screen and (max-width: 638px){
    #competences-un, #competences-deux, #competences-trois {
        flex-basis: 75%;
        margin: 1em 0;
    }
}
/*-------------------------------------------------------------*/

/*mobile portrait*/
@media screen and (max-width: 560px){

    
    section {
        padding: 3em 0;
    }
    header {
        background-position-y: -10em;
    }

    .navbar {
        width: 55%;
    }

    #arrow a span {
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        border: 2px solid var(--couleurPrincipale);
    }
    #arrow a span::after {
        width: 10.5px;
        height: 10.5px;
        margin: 6px 0 0 7px;
        border-bottom: 2px solid var(--couleurPrincipale);
        border-left: 2px solid var(--couleurPrincipale);
    }

    #slide-top {
        font-size: 2em;
    }
    #slide-bottom {
        font-size: 1em;
    }

    #profil {
        display: block;
    }
    #profil-img {
        float: left;
        width: 140px;
        height: 140px;
        margin: 1em;
        margin-top: 0;
        margin-right: 1.5em;
    }
    #profil-img img {        
        padding-right: 9em;
        transform: scale(1.05);
    }
    #profil-text {
        font-size: 0.75em;
    }
    #projets {
        padding: 4em 0;
    }
    #projets-ligne img {
        width: 100%;
    }
    #projets-un, #projets-deux, #projets-trois, #projets-quatre, #projets-cinq {
        flex-basis: 100%;
        margin: 0.5em 1em;
    }
    #projets-un:hover, #projets-deux:hover, #projets-trois:hover, #projets-quatre:hover, #projets-cinq:hover {
        transform: none;
        box-shadow: 0 0 0;
    }
    #parcours h2 {
        overflow: visible;
        white-space: normal;
    }
    #formation, #exp-pro {
        margin: 1em;
    }
    #competences-un, #competences-deux, #competences-trois {
        flex-basis: 100%;
        margin: 1em;
    }
}  