@font-face {
    font-family: "maxwellbold";
    src: url('../fonts/MAXWELL_BOLD.ttf') format('truetype');
}

@font-face {
    font-family: "indigoRegular";
    src: url('../fonts/IndigoRegular.otf') format('opentype');
}

    
:root {
    --couleur: #3a41e4;
}
body {
   font-family: maxwellbold;
}   

a:hover, a {
    text-decoration: none!important;
    color: #343a40;
}
header {
    height: 100vh;
}

#bg-img {

    background: url(../images/bg.jpg) no-repeat;
    background-position: top;
    position: absolute;
    top: 0;
    width : 100%;
    height: 100%;
    filter: blur(30px);
}

#title {
    position: relative;
    top: 30vh;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#title h1 {
    font-size: 4.5em;
    width: 100%;    
    margin: 0;
    opacity: 0;
}

#firstname {
    padding-right: 75%;
}

#name {
    padding-left: 75%;
}


main {
    height: 100vh;
}

#profil {
    margin: 0;
    padding: 5em;
    height: auto;
    background-color: rgb(214, 214, 214);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#profil-img {
    margin: 0;
    padding: 0;
    width: 280px;
    height: 280px;
    background-image: url(../images/profil.jpg);
    border-radius: 50%;
    transform: rotate(-10deg);
    background-size: 105%;
    background-position-x: 100%;

    border: 3px #fff solid;
    box-shadow: 3px 4px 5px var(--couleur);
    transition: box-shadow 0.33s ease;
}

#profil-img:hover {
    box-shadow: 1px 1px 15px var(--couleur);
}

#profil-text p{
    font-size: 1.5em;
}
#profil-text h2 {
    margin-bottom: 1em;
    font-size: 2.5em;
}